form {
                width:200px;
                display:inline-block;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.button {
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}
::-webkit-input-placeholder { /* For WebKit browsers */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}
:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}
::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}
:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}
